<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant</title>
    </head>
    <body>
        <h4>Hello <%=restaurant.name%> </h4>
        <h4><%=msg%></h4>
        <a href="/resLogin/goCURDMenu/Add/<%= restaurant.id %>">Add Food</a>
        </br>
        <a href="/resLogin/goCURDMenu/Delete/<%= restaurant.id %>">Delete Food</a>
        </br>
        <a href="/resLogin">back</a>
    </body>
</html>
