<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>deliveryman</title>
    </head>
    <body>
        <div id="delivData">
           
            <table class="table table-hover">
                <h4> Information: </h4>
                <tr>
                <td>ID</td>
                <td>NAME</td>
                <td>PHONE NO</td>
                </tr>
                <tr>
                    <td><%= deliv.id %></td>
                    <td><%= deliv.name %></td>
                    <td><%= deliv.phoneNum %></td>
                    
                </tr>
            </table>
            </br>
        </div>
        <a href="/deliveryManLogin/<%= deliv.id %>">Order from customer</a>
    </body>
</html>